<div class="main-content">
    <div class="page-content" style="padding-bottom: 15px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">FILTROS DE BUSQUEDA - EVENTOS </h4>
                    </div>
                </div>
            </div>
            <div class="card container-fluid" id="cardsuperior" style="display: -webkit-box;">
                <div class="col-md-6 mb-2" style="margin-right: 5px;">
                    <label for="" class="form-label col-form-label col-form-label-sm">Unidad Orgánica
                    </label>
                    <div class="">
                        <input type="text" disabled="" [(ngModel)]="area"
                            class="form-control form-control-sm  disabled-color" id="montoinfra" />
                    </div>
                </div>
                <div class="col-md-2 mb-2" style="margin-right: 5px;">
                    <label for="" class="form-label col-form-label col-form-label-sm">Fecha Inicio </label>
                    <div class="">
                        <input type="date" [(ngModel)]="eve_fecini" class="form-control form-control-sm" id="" />
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <label for="" class="form-label col-form-label col-form-label-sm">Fecha Fin</label>
                    <div class="">
                        <input type="date" [(ngModel)]="eve_fecfin" class="form-control form-control-sm" id="" />
                    </div>
                </div>
                <div class="col-md-2 mb-2" style="display: flex; justify-content: center; margin-top: 29px;">
                    <label for="" class="form-label col-form-label col-form-label-sm" style="display: none;">Fecha
                        Fin</label>
                    <div class="">
                        <button type="button" (click)="listarEventos()" class="btn btn-primary btn-label btn-sm">
                            <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
                            Consultar
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-h-100">
                        <div class="card-body">
                            <div class="form-check form-switch form-switch-lg" style="margin: 15px 3px;">
                                <input type="checkbox" class="form-check-input" (change)="checkboxChange(this.chk_btn)"
                                    id="customSwitchsizelg" [(ngModel)]="chk_btn">
                                <label class="form-check-label" for="customSwitchsizelg"
                                    style="font-weight: bold;">{{txt_chekbox}}</label>
                            </div>
                            <div>
                                <table id="tablaAplicacion" datatable [dtOptions]="dtOptionsModal"
                                    [dtTrigger]="dtTrigger" class=" align-middle mb-0 " style="width: 100%;">
                                    <thead class="table-light">
                                        <tr style="font-size: 12px;">
                                            <th class="text-center">Nº</th>
                                            <th class="text-center">Actividad - Evento</th>
                                            <th class="text-center">Fecha Inicio</th>
                                            <th class="text-center">Hora Fin</th>
                                            <th class="text-center">Fecha Fin</th>
                                            <th class="text-center">Hora Fin</th>
                                            <th class="text-center">Estado</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow-y: scroll;">
                                        <tr ngClass="" *ngFor="let data of datosEvento; let i = index"
                                            class="text-center tr_hover">
                                            <td>{{ i ++ 1}}</td>
                                            <td>{{ data.eve_nombre }}</td>
                                            <td>{{ data.eve_fecini | date: 'dd/MM/yyyy' }}</td>
                                            <td>{{ data.eve_horini }}</td>
                                            <td>{{ data.eve_fecfin | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{ data.eve_horfin }}</td>
                                            <td style="font-weight: bold" [style.color]="data.est_colors">{{
                                                data.est_descri
                                                }}</td>
                                            <td>
                                                <div class="d-flex center" style="justify-content: center;">
                                                    <button type="button" title="Editar"
                                                        (click)="goToCreate(data.eve_id)" style="margin-left: 2px;"
                                                        class="btn btn-sm btn-primary btn-icon">
                                                        <i class="ri-pencil-fill align-middle fs-20"></i>
                                                    </button>
                                                    <button type="button" title="" style="margin-left: 2px;" (click)="sweetAlertValidar(data,'
                                                            Estas seguro de anular este evento?','Si, anular evento')"
                                                        class="btn btn-sm btn-danger btn-icon">
                                                        <i class="ri-close-fill align-middle fs-20"></i>
                                                    </button>
                                                    <button type="button" title="" style="margin-left: 2px;"
                                                        class="btn btn-sm btn-success btn-icon"
                                                        (click)="modalArchivosEvento(ArchivosEvento,data)">
                                                        <i class="ri-contacts-book-upload-fill align-middle fs-20"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="">
                                    <button type="button" [routerLink]="['/evento-crear']"
                                        class="btn btn-primary btn-label btn btn-sm" style="margin-right: 8px;">
                                        <i class="ri-add-line label-icon align-middle fs-16"></i>
                                        Nuevo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #ArchivosEvento>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4 class="card-title mb-0">ARCHIVOS DEL EVENTO</h4>
                    <a class="" style="cursor: pointer;" (click)="cerrarModal('archivos-evento')"> <i
                            style="font-size: 1.50rem; " class="ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <ng-template #customLoadingTemplate>
                                                    <div class="custom-class text-center">
                                                        <h3>Cargando Archivo...</h3>
                                                    </div>
                                                </ng-template>
                                                <div class="table-responsive">
                                                    <ngx-dropzone (change)="onSelectarchivos($event)" [accept]="'.pdf'"
                                                        maxFiles="1">
                                                        <ngx-dropzone-label>Carga tus archivo aqui</ngx-dropzone-label>
                                                        <ngx-dropzone-preview *ngFor="let f of filesarchivos"
                                                            [removable]="true" (removed)="onRemovearchivos(f)">
                                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type
                                                                }})</ngx-dropzone-label>
                                                        </ngx-dropzone-preview>
                                                    </ngx-dropzone>
                                                    <button (click)="uploadFilesarchivos();" id="botonsubcomuni"
                                                        class="btn-icon btn btn-primary btn-block"
                                                        style="margin-bottom: 5px;margin-top: 5px;display: none;width: 100%;"><i
                                                            class="pe-7s-wallet btn-icon-wrapper"></i>Cargar
                                                        Documento</button>
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th colspan="2">ARCHIVOS ADJUNTOS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of dataArchivos"
                                                                class="parentesco-data-row" style="text-align: center;">
                                                                <td>{{item.epf_nompdf}}</td>
                                                                <td class="text-center">
                                                                    <button type="button" title=""
                                                                        style="margin-left: 2px;"
                                                                        class="btn btn-sm btn-danger btn-icon"
                                                                        (click)="eliminararchivos(item.epf_id,item.epf_nomfil);">
                                                                        <i class="ri-close-fill align-middle fs-20"></i>
                                                                    </button>
                                                                    <button type="button" title="Editar"
                                                                        (click)="linkDescargar(item.epf_nomfil,item.epf_nompdf,fb_evearchivos)"
                                                                        style="margin-left: 2px;"
                                                                        class="btn btn-sm btn-primary btn-icon">
                                                                        <i class="ri-eye-fill align-middle fs-20"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
    <p style="color: white">Buscando información...</p>
</ngx-spinner>